.text-center-sm {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  margin-bottom: 50px;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Ελαφριά σκιά κειμένου */
}
.custom-box {
  background-color: white; /* Λευκό φόντο */
  padding: 40px; /* Αυξημένο padding */
  border-radius: 15px; /* Πιο μεγάλες γωνίες */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Σκιά */
  margin-top: 20px; /* Περιθώριο */
  width: 80%; /* Πλάτος 80% του container */
  max-width: 900px; /* Μέγιστο πλάτος */
  margin-left: auto; /* Κεντράρισμα */
  margin-right: auto; /* Κεντράρισμα */
}
.form-label {
  font-weight: bold; /* Έντονη γραφή */
}
.convert-btn {
  background-color: #0056b3 !important;
  color: white !important;
  border: none !important;
}
.swap-btn {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-option {
  cursor: pointer;
  font-weight: bold;
  color: #a4a1a1;
}

.toggle-option.active {
  color: #0056b3;
}
@media (max-width: 768px) {
  .custom-box {
    display: flex;
    flex-direction: column; /* Κάνει όλα τα στοιχεία να στοιχίζονται κάθετα */
    align-items: center;
  }

  .custom-box .col-md-3,
  .custom-box .col-md-2,
  .custom-box .col-md-1 {
    width: 100%; /* Τα στοιχεία γεμίζουν όλο το πλάτος */
    margin-bottom: 15px; /* Προσθέτει απόσταση ανάμεσα στα στοιχεία */
  }

  .swap-btn {
    margin: 10px auto; /* Κεντράρει το κουμπί swap */
  }

  .convert-btn {
    width: 100%; /* Το κουμπί μετατροπής γεμίζει όλο το πλάτος */
    margin-top: 10px; /* Προσθέτει περιθώριο από τα υπόλοιπα στοιχεία */
  }
}
