.text-center-sm {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  margin-bottom: 50px;
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.custom-box {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 80%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.form-label {
  font-weight: bold;
}
.convert-btn {
  background-color: #0056b3 !important;
  color: white !important;
  border: none !important;
}
.swap-btn {
  width: 50px;
  height: 50px;
  background-color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-option {
  cursor: pointer;
  font-weight: bold;
  color: #a4a1a1;
}

.toggle-option.active {
  color: #0056b3;
}
@media (max-width: 768px) {
  .custom-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .custom-box .col-md-3,
  .custom-box .col-md-2,
  .custom-box .col-md-1 {
    width: 100%;
    margin-bottom: 15px;
  }

  .swap-btn {
    margin: 10px auto;
  }

  .convert-btn {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .custom-box {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .col-md-3,
  .col-md-2,
  .col-md-1 {
    width: 100% !important;
    margin-bottom: 15px !important;
  }

  .swap-btn {
    margin: 10px auto !important;
  }

  .convert-btn {
    width: 100% !important;
    margin-top: 15px !important;
    order: 2 !important;
  }
}
